<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <!-- can write script function here -->
    <% const name = 'mario' %>

    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>My Blog</h1></a>
            <p>A Blogging Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->

    <!-- to avoid repeating code -->
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>title</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blogs =>{ %>
                <a class="single" href="/blogs/<%=blogs._id%>">
                    <h3 class="title"> <%= blogs.title %></h3>
                    <p class="snippet"> <%= blogs.snippet %></p>
                </a>
            <% })%>
        <% } else { %>
            <p>There are no blogs to display...</p>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>